.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f3f3;
  position: sticky;
  top: 0;
  border: 0.5px solid lightblue;
}

.logo {
  display: flex;
  align-items: center;
  color: #524e4e;
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  padding: 10px;
}
